body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Cards */
.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Price */
.price {
    font-size: 18px;
    color: green;
    font-weight: bold;
}

/* Buttons */
.btn-custom {
    border-radius: 20px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}